body {
    font-family: Arial, sans-serif;
    margin: 20px auto;
    max-width: 1000px;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    padding: 5px;
    margin: 20px auto;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.user-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.user-details img {
    border-radius: 50%;
}

.user-details div {
    flex: 1;
    margin-left: 20px;
}

.user-details h2 {
    margin: 0;
}

.user-details p {
    margin: 5px 0;
}

#repoSearch {
    margin-top: 20px;
    width: calc(50% - 30px);
    padding: 10px;
    display: none;
}

#repos-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.repo-item {
    border: 1px solid #ccc;
    margin-bottom: 15px;
    padding: 20px 10px;
    border-radius: 5px;
    width: calc(50% - 30px);
}

.repo-item h2 {
    margin: 0;
}

.repo-item p {
    margin-top: 5px;
}

.lan {
    margin: 5px 10px 10px 0px;
    padding: 8px;
    background-color: #64b1e4;
    border-radius: 5px;
}

.repo-item ul {
    list-style: none;
    margin-top: 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.repo-item ul li {
    padding: 8px;
    background-color: #e4a064;
    border-radius: 5px;
    flex-wrap: wrap;

}

#pagination {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
}


@media only screen and (max-width: 800px) {
    body {
        margin: 20px;
    }
}